* {
  margin: 0;
  padding: 0;
}

.container {

  width: 100%;
margin:0;
padding:0;
padding-top: 10px;
  height:100%;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
    .messageContainer{
        height:90%;
        overflow-y: scroll;
    }
    .inputContainer{
        height:5%;
        width: 100%;
        position: fixed;
    }
}
